{% extends "base.html" %}

{% block body %}


<h4>
    <a href="/register">Kayıt ol</a>
</h4>
<h4>
    <a href="/login">Giriş</a>
</h4>
<h4>
    <a href="/auth">Twitter Connect mk</a>
</h4>

{% if session['token'] %}
<h5>
    Hoşgeldin {{ session['email'] }} Token bilgilerin {{ session['token'] }}
</h5>

<p>Seni takip etmeyenleri görmek için <a href="/unfollowers">tıkla!</a></p>
<p>Favorilerini silmek için <a href="/favorites">tıkla!</a></p>
<p>Tweetlerini silmek için <a href="/delete_tweets">tıkla!</a></p>
<p><b>test için</b> <a href="/test">tıkla!</a></p>

<a href="/logout/">Çıkış yap!</a>

{% endif %}



{% endblock body %}