{% extends "base.html" %}

{% block body %}

{% if session['token'] %}
<h5>
    Hoşgeldin {{ username }}
</h5>


<div id="content">

</div>

<p>progress bar test <input class="btn btn-primary" type="submit" value="Submit"
        onclick="unfollowers()"></p>
<p>Seni takip etmeyenleri görmek için <a href="/unfollowers">tıkla</a></p>
<p>Favorilerini silmek için <a href="/favorites">tıkla!</a></p>
<p>Tweetlerini silmek için <a href="/delete_tweets">tıkla!</a></p>
<p><b>test için</b> <a href="/test">tıkla!</a></p>

{% endif %}


<script>
    function unfollowers() {
        const div = document.createElement('div');

        div.className = 'progress';

        div.innerHTML = `
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                    aria-valuemax="100" style="width: 0%">
                    <span class="progress-bar-label">0%</span>
                </div>`;
        document.getElementById('content').appendChild(div);
        // window.location.href = "/unfollowers";
    }
</script>
{% endblock body %}